<!-- Code ini saya buat di android, Jadi maaf jika Tampilan pada desktop Kurang bagus! -->
<!-- Saya Berharap Thx to Tidak diubah! -->
<!-- Saya Baru belajar html Jadi maaf jika code Berantakan! -->

<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard RestApi || Free RestApi </title>
    <link rel='stylesheet' href='https://unpkg.com/css-pro-layout@1.1.0/dist/css/css-pro-layout.css'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css'><link rel="stylesheet" href="./style.css">
 </head>
 <body>
<div class="layout has-sidebar fixed-sidebar fixed-header">
  <aside id="sidebar" class="sidebar break-point-lg has-bg-image">
    <div class="image-wrapper"> 
    </div>
    <div class="sidebar-layout">
      <div class="sidebar-header">
        <span style="text-transform: uppercase; font-size: 15px; letter-spacing: 3px; font-weight: bold; ">RESTAPI</span>
      </div>
      <div class="sidebar-content">
      
        <nav class="menu open-current-submenu">
          <ul>          
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <span>(1)</span>
                </span>
                <span class="menu-title">Audio</span>
                <span class="menu-suffix">(20)</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item"><a href="/api/audio?audioname=audio1">
                    <span class="menu-title">Audio1</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio2">
                    <span class="menu-title">Audio2</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio3">
                    <span class="menu-title">Audio3</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio4">
                    <span class="menu-title">Audio4</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio5">
                    <span class="menu-title">Audio5</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio6">
                    <span class="menu-title">Audio6</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio7">
                    <span class="menu-title">Audio7</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio8">
                    <span class="menu-title">Audio8</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio9">
                    <span class="menu-title">Audio9</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio10">
                    <span class="menu-title">Audio10</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio11">
                    <span class="menu-title">Audio11</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio12">
                    <span class="menu-title">Audio12</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio13">
                    <span class="menu-title">Audio13</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio14">
                    <span class="menu-title">Audio14</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio15">
                    <span class="menu-title">Audio15</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio16">
                    <span class="menu-title">Audio16</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio17">
                    <span class="menu-title">Audio17</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio18">
                    <span class="menu-title">Audio18</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio19">
                    <span class="menu-title">Audio19</span></a></li>
                  <li class="menu-item"><a href="/api/audio?audioname=audio20">
                    <span class="menu-title">Audio20</span></a></li>                                                                                     
             </ul>
         </nav>        
         
                 <nav class="menu open-current-submenu">
          <ul>          
            <li class="menu-item sub-menu">
              <a href="#">
                <span class="menu-icon">
                  <span>(2)</span>
                </span>
                <span class="menu-title">TextPro</span>
                <span class="menu-suffix">(10)</span>
              </a>
              <div class="sub-menu-list">
                <ul>
                  <li class="menu-item"><a href="/api/textpro?number=1&text=Yourtext">
                    <span class="menu-title">metal</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=2&text=Yourtext">
                    <span class="menu-title">glowing</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=3&text=Yourtext">
                    <span class="menu-title">giraffe</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=4&text=Yourtext">
                    <span class="menu-title">glass</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=5&text=Yourtext">
                    <span class="menu-title">business</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=6&text=Yourtext">
                    <span class="menu-title">orange</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=7&text=Yourtext">
                    <span class="menu-title">comic</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=8&text=Yourtext">
                    <span class="menu-title">slime</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=9&text=Yourtext">
                    <span class="menu-title">halloween</span></a></li>   
                   <li class="menu-item"><a href="/api/textpro?number=10&text=Yourtext">
                    <span class="menu-title">frozen</span></a></li>                                                              
             </ul>
         </nav>        
         
      </div>
      <div class="sidebar-footer"><a href="https://youtu.be/CI_AikBcH8s" style="color: #b3b8d4"><span>© Md-devs</span><a></div>
    </div>
  </aside>
  <div id="overlay" class="overlay"></div>
  <div class="layout">
    <header class="header">
      <a id="btn-collapse" href="#">
        <i class="ri-menu-line ri-xl"></i></a>
      <a id="btn-toggle" href="#" class="sidebar-toggler break-point-lg">
        <i class="ri-menu-line ri-xl"></i></a>
       <h1>` RESTAPI</h1>
    </header>
    <main class="content">
      <div>    
      <div class="card">
        <h2>REST API</h2>
      </div>   
      <div class="card1">
        <h4>Penyedia api secara gratis</h4>
        <img src="https://i.ibb.co/X3YVPzh/depositphotos-204275674-stock-illustration-illustration-coding-icon-white-background-1.webp">
      </div>
      <div class="card2">  
      <h3>Terimakasih kepada <a href="https://youtube.com/channel/UCeQaKIQQhDNHMOq_odQh5Sw" style="color: #b3b8d4">Rimurubotz, LoliKillers, Lord R1ynz</a></h3>    
      <div>          
      </div> 
    </main>
    <div class="overlay"></div>
  </div>
</div>
<!-- partial -->
  <script src='https://unpkg.com/@popperjs/core@2'></script><script  src="./script.js"></script>

</body>
</html>
